.modal {
  position: absolute;
  /* top: 30%; */
  /* width: 50%; */
  /* height: 50vh; */
}

.modal-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(104, 215, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(0, 155, 93, 0.8);
  width: 30%;
  height: 30%;
}
